<div class="list-container">
    <h2>Gestion des Produits</h2>

    <div class="form-container">
        <h3>{{ isEditing ? 'Modifier' : 'Ajouter' }} un Produit</h3>
        <input [(ngModel)]="newProduit.ref_produit" placeholder="Référence">
        <input [(ngModel)]="newProduit.libelle_produit" placeholder="Libellé">
        <input type="number" [(ngModel)]="newProduit.prix_unitaire" placeholder="Prix">
        <input type="number" [(ngModel)]="newProduit.qte_stock" placeholder="Stock">
        <button (click)="saveProduit()">Valider</button>
        <button (click)="resetForm()" *ngIf="isEditing">Annuler</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>REF</th>
                <th>Libellé</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produit of produits">
                <td>{{ produit.ref_produit }}</td>
                <td>{{ produit.libelle_produit }}</td>
                <td>{{ produit.prix_unitaire }}</td>
                <td>{{ produit.qte_stock }}</td>
                <td>
                    <button (click)="editProduit(produit)">Edit</button>
                    <button (click)="deleteProduit(produit.id_produit!)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>